<div class="container">
  <h3>Cleargov application using shared components</h3>
  <div class="row">
    <div class="col">
      <cg-button
        (click)="onClick()"
        [type]="'primary'"
        [size]="'small'"
        [label]="'Small'"
        class="me-2"
        ></cg-button
      >
      <cg-button
        (click)="onClick()"
        [type]="'primary'"
        [label]="'Default'"
        class="me-2"
        ></cg-button
      >
      <cg-button
        (click)="onClick()"
        [type]="'primary'"
        [size]="'large'"
        [label]="'Large'"
        class="me-2"
        ></cg-button
      >
      <cg-button
        (click)="onClick()"
        [icon]="'bi bi-cloud-download'"
        [type]="'primary'"
        [label]="'With Icon'"
        ></cg-button
      >
    </div>
  </div>
  <div class="row">
    <div class="col">
      Count: {{count}}
    </div>
  </div>
</div>
